In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score

In [9]:
df=pd.read_csv('train.csv')

In [10]:
df.shape

(891, 12)

In [11]:
df['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [12]:
df['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [13]:
df['Age_Labelled']=df['Age'].apply(lambda x: 'Child' if x<15 else ('Middle_Aged' if x>15 and x<50 else 'Old'))

In [16]:
Age_df=df.groupby('Age_Labelled').agg({'Survived':['sum','count','mean']}).reset_index().droplevel(0,axis=1)
Age_df.columns=['Age_Type','#Survived','#Travellers','%Survivors']
Age_df

      Age_Type  #Survived  #Travellers  %Survivors
0        Child         45           78    0.576923
1  Middle_Aged        214          557    0.384201
2          old         83          256    0.324219

In [17]:
Age_df['#Died']=Age_df['#Travellers']-Age_df['#Survived']
Age_df['%Died']=Age_df['#Died']/Age_df['#Travellers']
Age_df

      Age_Type  #Survived  #Travellers  %Survivors  #Died     %Died
0        Child         45           78    0.576923     33  0.423077
1  Middle_Aged        214          557    0.384201    343  0.615799
2          old         83          256    0.324219    173  0.675781

In [23]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [26]:
Sex_df=df.groupby('Sex').agg({'Survived':['sum','count','mean']}).reset_index().droplevel(0,axis=1)
Sex_df.columns=['Sex','#Survived','Travellers','%Survivors']
Sex_df

      Sex  #Survived  Travellers  %Survivors
0  female        233         314    0.742038
1    male        109         577    0.188908

In [27]:
Sex_df['#Died']=Sex_df['Travellers']-Sex_df['Survived']
Sex_df['%Died']=Sex_df['#Died']/Sex_df['#Travellers']
Sex_df

KeyError: 'Survived'